#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navBar li {
    display: inline;
    margin-left: 5px;
    font-size: 20px;
    padding: 5px;
    outline-style: solid;
    outline-color: rgb(141, 12, 12);
    background-color:floralwhite;
}

#navBar li a {
    text-decoration: none;
}


#fullPage {
    background-color: wheat;
    height: 100%;
}

#introBox li {
    font-size: 25px;
    list-style-type: square;
}
